#helpBtn {
    background: url(../assets/help.svg);
}

#settingsBtn {
    background: url(../assets/settings.svg);
}

#statsBtn {
    background: url(../assets/stats.svg);
}

#helpBtn, #settingsBtn, #statsBtn {
    width: 24px;
    height: 24px;
    cursor: pointer;
}