:root {
    --grid-cell-bull: black;
    --grid-cell-bull-letter: black;
    --grid-cell-empty: black;
    --grid-cell-empty-letter: black;
}

game-grid {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 56px;
    row-gap: 16px;
}

/* Grid */
game-grid .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    cursor: pointer;
    font-weight: bold;
    font-size: 35px;
    color: var(--grid-cell-empty-letter);
    border-bottom: 5px solid var(--grid-cell-empty);
}

/* Grid row */
game-grid > div {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin: 2px;
}

game-grid .cell[s=b] {
    border-color: var(--grid-cell-bull);
    color: var(--grid-cell-bull-letter);
}

game-grid .cell.whitespace {
    border-bottom: none;
}
